.footer-address-list {
  margin-bottom: 60px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    &__item:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer-address-list__address {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-white-color;
}
.footer-address-list__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
