.header-nav-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.header-nav-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.header-nav-list__link--current {
  color: $accent-color;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
