.logo {
  color: #000000;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__prefix {
  color: $accent-color;
}
.logo--inversed {
  display: inline-block;
  margin-bottom: 20px;
  color: $primary-white-color;
}
