.portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio-list__item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio-list__border-box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-list__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: $primary-text-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    letter-spacing: 0.04em;
  }
}
.portfolio-list__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.portfolio-list__img {
  position: relative;
  overflow: hidden;
}
.portfolio-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .portfolio-list__item:hover &,
  .portfolio-list__item:focus & {
    transform: translateY(0);
  }
}
