.social-links-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 206px;
}
.social-links-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-links-list__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-links-list__link:hover &,
  .social-links-list__link:focus & {
    fill: $primary-white-color;
  }
}

.social-links-list__link--bg-gray {
  background-color: rgba(256, 256, 256, 0.1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-links-list__icon--white {
  fill: $primary-white-color;
}
