.subscribe-form {
  position: relative;
  display: flex;
  align-items: center;
}

.subscribe-form__email {
  height: 50px;
  min-width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: $dark-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.subscribe-form__label {
  position: absolute;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  .subscribe-form__email:focus + &,
  .subscribe-form__email:not(:placeholder-shown) + & {
    opacity: 0;
  }
}
