.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0;
  }
}
.team-list__item {
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  padding-bottom: 24px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
    margin: 0;
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.team-list__title,
.team-list__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  color: $secondary-text-color;
}
