$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$dark-bg-color: #2f303a;
$lightgray-bg-color: #f5f4fa;
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
